* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background: #222;
    color: #ffe602;
    max-width: 900px;
    margin: auto;
}

#body-wrapper {
    padding: 2rem 1rem;
    min-height: 100vh;
    text-align: center;
    width: 100%;
}


.filter-form {
    max-width: 500px;
    margin: auto;
}

.filter-form input {
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    outline: none;
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    border: 10px solid #ccc;

    margin-top: 1.5rem;
    background-color: #f4f4f4;
}

.filter-outupt {
    width: 80%;
    margin: auto;
}

.filter-outupt li {
    background-color: #ccc;
    list-style: none;
    color: #222;
    padding: 1rem;
    border: 1px solid #333;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}

.filter-outupt li:nth-child(odd) {
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
   background: #EFEFEF;
}

.filter-outupt li:nth-child(even) {
    transform: perspective(100px) rotateX(3deg) translateY(3px);
}

.highlighted {
    background-color:#eecf22;
}

.filter-outupt li span {
    text-transform: capitalize !important;
}

span.population {
    font-size: 1.1rem;
}